body{
    flex-direction:column;
    background-color:black;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0;
    height:100vh;
    text-align:center;
    overflow:hidden;

}
.image-container{
    position:relative;
    width:200px;
    height:200px;
    transform-style:preserve-3d;
    transform:perspective(1000px) rotateY(0deg);
}
.image-container span{
    width:100%;
    position:absolute;
    top:0;
    left:0;
    transform:rotateY(calc(var(--i)*45deg)) translateZ(400px);
    transition: transform 0.7s;


}
.image-container span img{
    position:absolute;
    left:0;
    top:0;
    width:100%;
}
.btn-container{
    position:relative;
    width:80%;
}
.btn{
    position:absolute;
    bottom:-80px;
    background-color:slateblue;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;

}
.btn:hover{
    filter:brightness(1.5)
}
#prev{
    left:20%;
}
#right{
    right:20%;
}